html
  head
    title Activities
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/images/favicon.ico')
  body
    script(src='https://d3js.org/d3-queue.v3.min.js')
    script(src='/lib/jquery.min.js')
    script(src='/lib/bootstrap.min.js')
    //- create navbar component
    div#activities
      nav(class='navbar navbar-default navbar-static-top')
        div(class='container-fluid')
          div(class='navbar-header')
            a(class='navbar-brand' href='/')
              img(alt='Brand' height='20' width='20' src='./clipboard.png')
            a(class='navbar-brand' href='/') Activities
          div(data-bind='with: activities')
            <activity-search params='channel: channel'></activity-search>

      .container
        .row
          .col-sm-6
            <new-activity params='channel: channel'></new-activity>
          .col-sm-6
            div(data-bind='with: activities')
              <featured-activity params='channel: channel, activities: activities'></featured-activity>
      //- create activity rows component
      div(data-bind='with: activities').container.activities-container
        div(data-bind='visible: activities().length', style='display: none').activities-display
          .row.list-toolbar
            .col-md-4.activity-list-count
              p(data-bind='text: activities().length + (activities().length > 1 ? " Activities" : " Activity")')
          div(class="row activity-rows" data-bind='foreach: activityRows')
            .row(data-bind='foreach: $data', class="data-row")
              .col-xs-3(class='activity-col', data-bind="attr: {id: $data._id}")
                .row.title
                  .col-xs-12.activity-title
                    a(data-bind="attr: {href: '#activities/' + $data._id}")
                      span(data-bind="text: $data.activity", data-toggle='modal', data-target='#activityModal')
                .row
                  .col-xs.activity-list-img
                    a(data-bind="attr: {href: '#activities/' + $data._id}")
                      .activity-list-img-container
                        img(data-bind="attr: {src: $data.img}", data-toggle='modal', data-target='#activityModal').img-responsive



      div(data-bind='with: activity')
        <activity-modal params="user_model: user_model, user_activities: user_activities, channel: channel, model: model"></activity-modal>

      div(data-bind='with: activities')
        <page-footer params='channel: channel, activities: activities, activityRows: activityRows'></page-footer>

    script(src='./bundle.js')
