html
  head
    title Activities
    link(rel='stylesheet', href='/css/bootstrap.css')
    link(rel='stylesheet', href='/css/styles.css')
    link(rel='icon', type='image/png', href='/images/favicon.ico')
  body
    script(src='https://d3js.org/d3-queue.v3.min.js')
    script(src='/javascripts/lib/jquery.min.js')
    script(src='/javascripts/lib/bootstrap.min.js')

    div#activities
      nav(class="navbar navbar-default navbar-static-top")
        div(class="container-fluid")
          div(class="navbar-header")
            a(class="navbar-brand" href="/")
              img(alt="Brand" height="20" width="20" src="./clipboard.png")
            span(class="navbar-brand") Activities

      .container
        .row
          .col-md-6.float-left
        div(data-bind='with: activity')
          <new-activity params="channel: channel, activitiesViewModel: activitiesViewModel, userViewModel: userViewModel"></new-activity>

      div(data-bind='with: activities').container
        div(data-bind='visible: activities().length', style='display: none')
          .row
            .col-md-4.activity-list-count
              p(data-bind='text: activities().length + (activities().length > 1 ? " Activities" : " Activity")')
            .col-md-4
            .col-md-4.activity-list-delete
              a.delete-activities(data-bind="click: deleteAll") delete all
          div(class="row activity-rows" data-bind='foreach: activityRows')
            .row(data-bind='foreach: $data', class="data-row")
              .col-xs-3(class='activity-col')
                .row.title
                  .col-xs-12.activity-title
                    a(data-bind="attr: { href: '#activities/' + $data._id}")
                      span(data-bind="text: $data.activity", data-toggle='modal', data-target='#myModal')
                .row
                  .col-xs.activity-list-img
                    a(data-bind="attr: { href: '#activities/' + $data._id}")
                      img(data-bind="attr: {src: $data.img}", data-toggle='modal', data-target='#myModal')

      div(data-bind='with: activity')
        <activity-modal params="user_model: user_model, userActivities: userActivities, channel: channel, model: model"></activity-modal>

    script(data-main='/javascripts/main.js', src='/javascripts/lib/require.js')
