body {
  overflow-x: hidden;
}
a:hover {
  cursor: pointer;
}
activity-modal .remove-activity button {
  margin-right: 45px;
}
activity-modal .modal-input-1 {
  width: 100%;
}
activity-modal .modal-input-1-date {
  width: 100%;
  margin-bottom: 5px;
}
activity-modal .description {
  overflow-y: scroll;
  overflow-x: hidden;
  max-height: 100px;
}
activity-modal .user-activities {
  overflow: auto;
  max-height: 60px;
}
activity-modal .user-activities:hover {
  color: deepskyblue;
  cursor: pointer;
}
activity-modal .activity-img-container {
  width: 200px;
  max-height: 200px;
  max-width: 200px;
  overflow: hidden;
  border-radius: 4px;
}
activity-modal .activity-img {
  margin-bottom: 3px;
  display: block;
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}
activity-modal .search-input input {
  width: 200px;
  margin-bottom: 2px;
}
activity-modal .image-cols {
  text-align: center;
  margin-top: 30px;
}
activity-modal .image-cols .image-col {
  display: inline-block;
}
activity-modal .image-col-select {
  font-size: 14px;
}
activity-modal .image-col-select:not(.setselected):hover {
  cursor: pointer;
  color: #fff;
  text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
  -webkit-font-smoothing: antialiased;
}
activity-modal .image-cols img {
  width: 90px;
  height: 90px;
}
activity-modal .image-cols img:hover {
  border: 1px solid rgba(0,0,0,0);
  cursor: pointer;
}
activity-modal .modal-footer {
  margin-top: -15px;
}
activity-modal .previous-image {
  text-align: left;
}
activity-modal .image-select {
  text-align: center;
  margin: 5px 0;
}
activity-modal .next-image {
  text-align: right;
  float: right;
}
activity-modal .previous-image img {
  margin: 5px;
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
activity-modal .next-image img {
  margin: 5px;
}
activity-modal .next-image img:hover, activity-modal .previous-image img:hover {
  cursor: pointer;
}
activity-modal .setselected {
  color: deepskyblue;
  font-weight: bold;
}
.delete-activities:hover {
  color: deepskyblue;
  cursor: pointer;
}
.activity-title {
  position: absolute;
  top: 55;
  background: rgba(0,0,0,.2);
  margin-top: -5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 40px;
  width: 270px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}
.activity-title a {
  color: rgba(255,255,255,.8);
}
.activity-title a:hover {
  color: rgba(255,255,255,1);
  text-decoration: none;
}
.activity-list-img {
  text-align: center;
}
.activity-list-img-container {
  width: 270px;
  max-height: 192px;
  max-width: 270px;
  overflow: hidden;
  border-radius: 4px;
}
.activity-list-img-container img {
  display: block;
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}
.data-row {
  margin-left: 0px !important;
  margin-right: 0px !important;
}
new-activity > .row {
  margin-bottom: 50px;
}
new-activity input[type='date']:before {
  content: attr(placeholder) !important;
  color: #aaa;
  margin-right: 0.5em;
}
new-activity input[type='date']:focus:before, new-activity input[type='date']:valid:before {
  content: "";
}
new-activity .new-form-1 {
  margin-bottom: 5px;
}
new-activity .left {
  margin-left: -20px;
}
.activities-container {
  margin-top: 20px;
  margin-bottom: 40px;
}
.list-toolbar {
  position: absolute;
  width: 95%;
}
.activities-display {
  width: inherit;
}
.activity-col .title {
  height: 50px;
}
.activity-list-delete {
  text-align: right;
}
.activity-list-count {
  text-align: left;
}
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
}
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  box-shadow: 0 0 1px rgba(255,255,255,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}
images .message {
  text-align: left;
}
images .message div {
  margin-bottom: 10px;
}
activity-search .activity-search {
  margin-top: 8px;
  margin-left: 70px;
}
activity-search .activity-search-container {
  text-align: center;
}
activity-search .activity-search-container p {
  display: inline;
}
activity-search .activity-search-message p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
activity-search .activity-search-suggestions {
  position: absolute;
  background: #fff;
  width: 88%;
  border-radius: 4px;
  padding: 5px;
  max-height: 230px;
  line-height: 1;
  border: 1px solid #ccc;
  margin-top: 1px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}
activity-search .activity-search-suggestions a {
  padding: 5px;
  display: block;
}
.featured-title-container {
  padding-left: 150px;
  position: absolute;
  z-index: 1;
}
.featured-title {
  position: relative;
  border-radius: 4px;
  width: 310px;
  text-align: left;
  background: rgba(0,0,0,.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 22px;
  line-height: 44px;
  color: rgba(255,255,255,.8);
}
featured-activity .featured {
  text-align: center;
  padding-left: 150px;
}
featured-activity .featured-image-container {
  width: 310px;
  max-height: 350px;
  max-width: 310px;
  overflow: hidden;
  border-radius: 4px;
}
featured-activity .featured-image-container img {
  display: block;
  max-width: 100%;
  height: auto !important;
  width: auto\9;
  -ms-interpolation-mode: bicubic;
}
page-footer .navbar-fixed-bottom {
  position: initial !important;
}
page-footer .container.settings {
  margin: 0px 0 40px 0px;
}
page-footer .settings .setting-headers {
  text-align: center;
}
page-footer .settings .setting-headers a {
  color: #9d9d9d;
  display: inline;
  margin-left: 40;
}
page-footer .settings .setting-headers a:not(.activeSetting):hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
page-footer .settings .setting-headers a.activeSetting:hover {
  cursor: default;
  text-decoration: none;
}
page-footer .settings .setting-headers button.close {
  float: initial;
  font-weight: normal;
  opacity: inherit;
  text-shadow: none;
  margin-left: 40;
  color: #9d9d9d;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
}
page-footer .settings .setting-headers button:focus {
  text-decoration: none;
  outline: none;
}
page-footer .settings .setting-headers button:active {
  text-shadow: 0px 1px #c77270;
  -moz-text-shadow: 0px 1px #c77270;
  -webkit-text-shadow: 0px 1px #c77270;
}
page-footer .settings .setting-headers button.removeAll {
  color: #a94442 !important;
}
page-footer .settings .activeSetting {
  color: #fff !important;
}
page-footer .nav navbar-nav a {
  font-size: 16px;
}
page-footer .active a, page-footer .active a:hover, page-footer .active a:focus {
  background-color: #222 !important;
}
page-footer .activity-settings-col {
  float: none;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40;
}
page-footer .m-activity-display {
  line-height: 20px;
  margin: 1;
  padding: 7;
  width: 160;
  height: 74;
  max-width: 160;
  max-height: 74;
  background-image: url("../images/activity.png");
  -webkit-box-shadow: 14px 5px 9px -6px rgba(0,0,0,0.28);
  -moz-box-shadow: 14px 5px 9px -6px rgba(0,0,0,0.28);
  box-shadow: 14px 5px 9px -6px rgba(0,0,0,0.28);
}
page-footer .m-activity-display:hover {
  cursor: move;
}
page-footer .m-activity-display.activitySelected {
  background-image: url("../images/activity-selected.png");
}
page-footer .m-activity-display.activitySelected .title-setting p {
  color: #222;
}
page-footer .m-activity-display.activityMove:not(.activitySelected):hover {
  background-image: url("../images/activated-hover.png");
  cursor: pointer;
}
page-footer .m-activity-display p {
  color: #9d9d9d;
}
page-footer .title-setting p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
page-footer .delete-activity-setting {
  text-align: right;
}
page-footer .delete-activity-setting .close {
  margin-top: -5;
  font-size: 24px;
}
page-footer .update-activity-setting {
  margin-top: 10px;
  margin-bottom: 5px;
}
page-footer .update-activity-setting .col-xs-2 {
  margin-top: -2px;
}
page-footer .update-activity-setting .glyphicon-move {
  color: #9d9d9d;
  font-size: 21px;
}
page-footer .update-activity-setting .glyphicon-move.glyphiconSelected {
  color: rebeccapurple;
}
page-footer .update-activity-setting .glyphicon-move.glyphiconSelected:hover {
  color: initial;
  cursor: pointer;
}
page-footer .update-activity-setting .glyphicon-move:not(.glyphiconSelected):hover {
  color: #fff;
  cursor: pointer;
}
page-footer .update-activity-setting .glyphicon-move.glyphiconMove:not(.glyphiconSelected) {
  color: #b2cce5;
}
page-footer .update-activity-setting .glyphicon-move.glyphiconMove:not(.glyphiconSelected):hover {
  cursor: pointer;
}
page-footer .delete-activity-setting .close:focus {
  text-decoration: none;
  outline: none;
}
page-footer .delete-activity-setting .close.deleteActive:focus {
  color: #a94442;
}
page-footer .activity-settings-pagination .col-xs-12 {
  margin-left: -15px;
  margin-top: 15px;
}
page-footer .activity-settings-pagination .col-xs-12 a {
  color: #9d9d9d;
  line-height: 20px;
  margin-left: 8px;
  display: inline;
}
page-footer .activity-settings-pagination .col-xs-12 span {
   color: #9d9d9d;
  line-height: 20px;
}
page-footer .activity-pages a:not(.pageSelected):hover {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none;
}
page-footer .activity-pages a.pageSelected:hover {
  cursor: default;
  text-decoration: none;
}
page-footer .pageSelected {
  color: #fff !important;
}
page-footer .dragging {
  opacity: 0.5;
  filter: "alpha(opacity=50)";
}

@media screen and (max-width: 1250px) and (min-width: 768px) {
  .activity-search {
    float: right;
  }
}
@media screen and (max-width: 767px) {
  .activity-search {
    display: inline;
  }
  activity-search .activity-search {
    margin-left: 0px;
  }
  .activity-search input {
    margin: 0 10px 0 15px;
    width: 95%;
    height: 50px;
  }
}
@media screen and (max-width: 991px) {
  new-activity .left {
    margin-left: 0px;
  }
}
@media screen and (max-width: 1199px) {
  .activity-title {
    width: 100%;
  }
}
@media screen and (max-width: 444px) {
  .activity-img {
    margin-left: -30px;
  }
}
